html,
body {
    background: linear-gradient(to right, #69d2e7, #a7dbd8);
    height: 100%;
}

a:link:hover {
    color: whitesmoke;
    text-decoration: none;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


/* Other Classes for Page Styling */

.navbar-nav {
    margin-left: auto;
}

.lab {
    font-size: 2rem;
}

.jarak {
    margin: 2rem;
}

.card:hover {
    background-color: #d2e603 !important;
}

.card-body:hover {
    background-color: #2ec1ac;
    color: black !important;
    transform: translateY(-15px);
    transition: all .3s ease-in-out;
    border-radius: 1rem;
}